/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  overscroll-behavior: none;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* * {
  box-sizing: border-box;
}

@import "~@angular/material/theming";
@import "app-theme";

@include mat-core();

$blog-primary: mat-palette($mat-green, 700, 600, 800);
$blog-accent: mat-palette($mat-amber, 700, 600, 800);
$blog-warn: mat-palette($mat-red);
$blog-theme: mat-dark-theme($blog-primary, $blog-accent, $blog-warn);

@include angular-material-theme($blog-theme);
@include calcifer-theme($blog-theme);

// File system context menu
.ngx-contextmenu .dropdown-menu {
  a {
    display: flex;
    padding-left: 1.2rem;

    .divider {
      margin: 6px 0;
    }

    span {
      padding-left: 8px;
    }
  }
}

// Dialog
.cdk-overlay-container mat-dialog-container {
  padding: 1.5rem 2rem 1rem;

  ng-component {
    align-items: center;
  }
  mat-form-field {
    width: 60%;
  }

  button {
    padding: 0 10px;
  }
}
