:host {
  height: 100%;
}

.playground-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .playground-button-label {
    font-size: 24px;
    position: relative;
    top: 8px;
  }

  img {
    width: 120px;
    height: 150px;
  }
}

.dashboard {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 80%;
  height: 100%;
  margin: auto;

  h2 {
    width: 100%;
    text-align: center;
  }
  button {
    margin: 1rem;
    padding: 0;
    width: 250px;
    height: 200px;
  }
}
