<div class="dashboard">
  <h2>Start a playground</h2>
  <ng-container *ngIf="!loading && playgroundId === undefined; else spinner">
    <button mat-raised-button (click)="createDashboard('kind')">
      Kubernetes (~2min)
    </button>
    <button mat-raised-button (click)="createDashboard('dind')">Docker</button>
    <button mat-raised-button (click)="createDashboard('c')">C/C++</button>
    <button mat-raised-button (click)="createDashboard('go')">Go</button>
    <button mat-raised-button (click)="createDashboard('rust')">Rust</button>
    <button mat-raised-button (click)="createDashboard('python')">
      Python
    </button>
    <button mat-raised-button (click)="createDashboard('node')">Node.js</button>
    <button mat-raised-button (click)="createDashboard('react')">React</button>
    <button mat-raised-button (click)="createDashboard('vue')">Vue</button>
    <button mat-raised-button (click)="createDashboard('angular')">
      Angular
    </button>
  </ng-container>

  <ng-template #spinner>
    <mat-spinner
      *ngIf="playgroundId === undefined"
      [diameter]="100"
      [strokeWidth]="3"
    ></mat-spinner>
  </ng-template>
</div>
