$small: 300px;
$medium: 800px;
$large: 1400px;

:host {
  height: 100%;
}

.dashboard-labels {
  font-size: 1.6rem;
}

.playground-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .playground-button-label {
    font-size: 24px;
    position: relative;
    top: 8px;
  }

  img {
    filter: invert(0.6);
    object-fit: contain;
    width: 40%;
  }
}

.dashboard {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin: auto;
  @media only screen and (max-width: $medium) {
    width: 100%;
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }
  button {
    margin: 1rem;
    padding: 0;
    width: 250px;
    height: 200px;

    @media only screen and (max-width: $large) {
      width: 200px;
      height: 150px;
    }
    @media only screen and (max-width: $small) {
      width: 80px;
      height: 60px;
    }
  }
}
