<div class="dashboard">
  <ng-container *ngIf="!loading && playgroundId === undefined; else spinner">
    <h2>Start a playground</h2>
    
    <button matTooltip="{{ button.label }}" [matTooltipShowDelay]="50" mat-raised-button *ngFor="let button of playgroundButtons" (click)="createDashboard(button.type)">
      <div class="playground-button-wrapper">
        <img src="{{ button.imageSrc }}">
      </div>
    </button>
  </ng-container>

  <ng-template #spinner>
    <mat-spinner
      *ngIf="playgroundId === undefined"
      [diameter]="100"
      [strokeWidth]="3"
    ></mat-spinner>
  </ng-template>
</div>
