:host {
  height: 100%;
}

.dashboard {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 90rem;
  height: 100%;
  margin: auto;

  h2 {
    width: 100%;
    text-align: center;
  }
  button {
    margin: 1rem;
    padding: 1rem 4rem;
  }
}
