<cdk-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  cdkDropList
  id="filetree"
  cdkDropListConnectedTo="editor-tabs"
>
  <cdk-tree-node
    *cdkTreeNodeDef="let node"
    class="tree-node"
    cdkDrag
    [cdkDragData]="node"
  >
    <div
      class="file"
      [class.active]="fileStore.isSelectedFile(node)"
      [style.padding-left]="12 + 16 * node.level + 'px'"
      (click)="onNodeClick(node)"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="node"
    >
      <span
        class="file-icon"
        [class]="fileIcons.getClassWithColor(node.filename)"
      ></span>
      {{ node.filename }}
    </div>
  </cdk-tree-node>

  <cdk-tree-node
    *cdkTreeNodeDef="let node; when: isDirectory"
    class="tree-node"
    cdkDrag
    [cdkDragData]="node"
  >
    <div
      [class.active]="fileStore.isSelectedFile(node)"
      class="directory"
      [style.padding-left]="5 + 14 * node.level + 'px'"
      (click)="onNodeClick(node)"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="node"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "arrow_drop_down" : "arrow_right" }}
      </mat-icon>
      {{ node.filename }}
    </div>
  </cdk-tree-node>
</cdk-tree>

<context-menu>
  <ng-template
    contextMenuItem
    [visible]="isDirectoryContextMenu"
    (execute)="startCreateFile($event.item)"
  >
    <mat-icon inline="true"> note_add </mat-icon>
    <span>New File</span>
  </ng-template>
  <ng-template
    contextMenuItem
    [visible]="isDirectoryContextMenu"
    (execute)="startCreateFolder($event.item)"
  >
    <mat-icon inline="true"> create_new_folder </mat-icon>
    <span>New Folder</span>
  </ng-template>
  <ng-template
    contextMenuItem
    [visible]="isDirectoryContextMenu"
    [divider]="true"
  ></ng-template>
  <ng-template contextMenuItem (execute)="startRename($event.item)">
    <mat-icon inline="true"> edit </mat-icon>
    <span>Rename</span>
  </ng-template>
  <ng-template contextMenuItem (execute)="delete($event.item)">
    <mat-icon inline="true"> delete </mat-icon>
    <span>Delete</span>
  </ng-template>
</context-menu>
