<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <cdk-tree-node *cdkTreeNodeDef="let node" class="tree-node">
    <div
      class="file"
      [class.active]="node === activeFileNode"
      [style.padding-left]="20 + 20 * node.level + 'px'"
      (click)="onNodeClick(node)"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="node"
    >
      <i
        class="file-icon"
        [class]="fileIcons.getClassWithColor(node.filename)"
      ></i>
      {{ node.filename }}
    </div>
  </cdk-tree-node>

  <cdk-tree-node
    *cdkTreeNodeDef="let node; when: isDirectory"
    class="tree-node"
  >
    <div
      [class.active]="node === activeFileNode"
      class="directory"
      [style.padding-left]="14 + 20 * node.level + 'px'"
      cdkTreeNodeToggle
      (click)="onNodeClick(node)"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="node"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
      </mat-icon>
      {{ node.filename }}
    </div>

    <div [class.collapsed-node]="!treeControl.isExpanded(node)">
      <ng-container cdkTreeNodeOutlet></ng-container>
    </div>
  </cdk-tree-node>
</cdk-tree>

<context-menu>
  <ng-template
    contextMenuItem
    [visible]="isDirectoryContextMenu"
    (execute)="showMessage('Hi, ' + $event.item.name)"
  >
    <mat-icon inline="true"> note_add </mat-icon>
    New File
  </ng-template>
  <ng-template
    contextMenuItem
    [visible]="isDirectoryContextMenu"
    (execute)="showMessage('Hi, ' + $event.item.name)"
  >
    <mat-icon inline="true"> create_new_folder </mat-icon>
    New Folder
  </ng-template>
  <ng-template
    contextMenuItem
    [visible]="isDirectoryContextMenu"
    [divider]="true"
  ></ng-template>

  <ng-template
    contextMenuItem
    (execute)="showMessage('Hi, ' + $event.item.name)"
  >
    <mat-icon inline="true"> edit </mat-icon>
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="delete($event.item)">
    <mat-icon inline="true"> delete </mat-icon>
    Delete
  </ng-template>
</context-menu>
