<as-split direction="horizontal" [gutterSize]="9">
  <as-split-area [size]="10">
    <app-file-system-explorer
      (selectFile)="selectFile.emit($event)"
      [treeControl]="treeControl"
      [dataSource]="dataSource"
      [class.hidden]="activeMenu.name !== 'file-system-explorer'"
    ></app-file-system-explorer>
    <app-file-search
      [class.hidden]="activeMenu.name !== 'search'"
      [matches]="matches"
      (selectFromExistingFiles)="selectFromExistingFiles.emit($event)"
    ></app-file-search>
    <app-settings
      [class.hidden]="activeMenu.name !== 'settings'"
    ></app-settings>
  </as-split-area>
  <as-split-area [size]="90">
    <as-split direction="vertical" [gutterSize]="9">
      <as-split-area [size]="70">
        <app-editor></app-editor>
      </as-split-area>
      <as-split-area [size]="30">
        <app-terminal></app-terminal>
      </as-split-area>
    </as-split>
  </as-split-area>
</as-split>
