:host {
  div {
    display: flex;
    justify-content: space-between;

    margin: 1rem 1.5rem;

    p {
      margin: auto 0;
    }
    button {
      // float: right;
      width: 40px;
      padding: 0 !important;
    }
  }
}
