:host {
  p {
    margin-bottom: 4px;
  }

  > div {
    margin-bottom: 1.5rem;

    pre {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      padding: 0.2rem 1rem;
    }
    button {
      margin-left: 2rem;
    }
  }
}
