nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;

    button {
        overflow: hidden;
        margin-right: 1.5rem;
        width: 0;

        &.active {
            width: unset;

            span {
                opacity: 1;
                width: 75px;    
            }
        }

        &:hover {
            width: unset;

            span {
                opacity: 1;
                width: 75px;    
            }
        }

        span {
            opacity: 0;
            display: inline-block;
            width: 0;

            transition: width 200ms, opacity 100ms;
        }
    }
}