nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;

  button {
    overflow: hidden;
    width: 0;

    &.active {
      width: unset;

      span {
        opacity: 1;
        max-width: 20rem;
      }
    }

    &:hover {
      width: unset;

      span {
        opacity: 1;
        max-width: 20rem;
      }
    }

    span {
      padding-left: 1rem;
      opacity: 0;
      display: inline-block;
      max-width: 0;

      transition: max-width 300ms, opacity 100ms;
    }
  }
}
