<nav>
  <button
    mat-button
    routerLinkActive="active"
    routerLink="/"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <mat-icon> dashboard </mat-icon>
    <span> Dashboard </span>
  </button>
  <button
    mat-button
    class="playgroundButton"
    routerLinkActive="active"
    [routerLink]="['/edit/', _id]"
    [routerLinkActiveOptions]="{ exact: true }"
    *ngIf="_id !== null"
  >
    <mat-icon> code </mat-icon>
    <span> {{ _id }} </span>
  </button>
  <button
    mat-button
    class="playgroundButton noShrink"
    (click)="openDialog()"
    *ngIf="_id !== null"
  >
    <mat-icon> share </mat-icon>
    <span> Share </span>
  </button>
</nav>
