@mixin menu-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $is-dark-theme: map-get($theme, is-dark);

    .menu {
        button {
            border-left-color: transparent;

            &.active {
                border-left-color: mat-color($foreground, text);
            }
        }
    }
}